<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NextGraphics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <NextGraphics.Properties.Settings>
            <setting name="RecentProject" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportAssemblerFileExtension" serializeAs="String">
                <value>asm</value>
            </setting>
            <setting name="ExportBinaryDataFileExtension" serializeAs="String">
                <value>bin</value>
            </setting>
            <setting name="ExportBinaryPaletteFileExtension" serializeAs="String">
                <value>pal</value>
            </setting>
            <setting name="ExportBinaryTilesInfoFileExtension" serializeAs="String">
                <value>blk</value>
            </setting>
            <setting name="ExportBinaryTileAttributesFileExtension" serializeAs="String">
                <value>map</value>
            </setting>
            <setting name="ExportBinaryTilemapFileExtension" serializeAs="String">
                <value>tilemap</value>
            </setting>
            <setting name="ExportSpriteAttributesFileExtension" serializeAs="String">
                <value>til</value>
            </setting>
            <setting name="PaletteFormExportFilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TilemapRenderTileIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TilemapRenderTileAttributes" serializeAs="String">
                <value>True</value>
            </setting>
        </NextGraphics.Properties.Settings>
    </userSettings>
</configuration>
